body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(85, 135, 216, 0.73);
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main{
    width: 21em;
    height: 36em;
    background-image: linear-gradient(to bottom, 
        #fefefe,
        #ffffff,
        #f7f7f7,
        #f4f1ea,
        #ece8e7,
        black);
    border: 0.4em outset black;
    border-radius: 30em/7em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    box-shadow: 0.8em 0.8em 0.8em 0.8em red;
}

.top{
    width: 18.6em;
    height: 16em;
    background-color: black;
    margin: 1.2em 1.2em 0 1.2em;
    border-radius: 0.6em 0.6em 1em 1em;
}
.borderTop{
    width: 18.6em;
    height: 2em;
} 
.borderBottom{
    width: 18.6em;
    height: 3.8em;
    border-radius: 60em/8em;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.color{
    width: 10.4em;
    height: 1.7em;
    background-image: url(../img/logo-color.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.center{
    width: 18.6em;
    height: 11em;
    display: flex;
}
.borderRight, .borderLeft{
    width: 3.3em;
    height: 11em;
}
.screen{
    width: 12em;
    height: 11em;
    background-image: linear-gradient(to right, rgb(125, 124, 124), rgb(52, 51, 51));
}
.redLight{
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgb(181, 1, 1), rgb(72, 2, 2));;
    color: white;
    margin: 2em 0 0em 0.5em;
}
.halfCircle{
    color: rgb(52, 51, 51);
    font-size: x-small;
    margin-left: 2em;
    margin-top: -1em;
}
.power{
    color: rgb(52, 51, 51);
    font-size: xx-small;
    font-weight: bold;
    margin: 0.5em 0 0 1em;
}

.turnOn{
    background-image: url(../img/nintendoLogo.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}

.turnOn1{
    background-image: url(../img/pokemon-go-squirtle-squad-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

.logo{
    width: 21em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: end;
}

.nintendo{
    width: 5.5em;
    height: 1.2em;
    border-radius: 1em;
    border: 0.15em solid black;
    text-align: center;
    font-family:sans-serif;
    font-weight: bold;
    color: red;
}

.middle{
    height: 7em;
    display: flex;
}

.aroundCross{
    width: 8em;
    height: 7em;
    display: flex;
    align-items: start;
    justify-content: center;
}

.cross{
    width: 5.5em;
    height: 5.5em;
    margin-left: 0.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.arrow, .empty{
    color: rgb(21, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow{
    background-image: linear-gradient(to right, rgb(52, 52, 52), rgb(39, 39, 39));
}

.arrowTop{
    border-top: solid 0.2em rgb(33, 33, 33);
    border-left: solid 0.2em rgb(66, 66, 66);
    border-right: solid 0.2em rgb(25, 25, 25);
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
}

.arrowLeft{
    border-top: solid 0.2em rgb(70, 70, 70);
    border-left: solid 0.2em rgb(60, 60, 60);
    border-bottom: solid 0.2em rgb(22, 22, 22);
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.arrowBottom{
    border-bottom: solid 0.2em rgb(22, 22, 22);
    border-left: solid 0.2em rgb(60, 60, 60);
    border-right: solid 0.2em rgb(20, 20, 20);
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.arrowRight{
    border-top: solid 0.2em rgb(60, 60, 60);
    border-right: solid 0.2em rgb(22, 22, 22);
    border-bottom: solid 0.2em rgb(20, 20, 20);
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;  
}